.landing {
    /*background-image: url("http://img.fifa.com/mm/photo/tournament/loc/02/31/42/51/2314251_big-lnd.jpg");*/
    background-color: snow;
}
body {
    padding-bottom: 20px;
}
.top-bar {
    background-color: lightcyan;
    height: 60px;
    font-size: 30px;
    padding: 10px;
    color: red;
    font-weight: bold;
}

.jumbotron {
    width: 70%;
    margin: auto;
    top: 30%;
    position: absolute;
}

.login-link {
  color: #d9534f;
  background-color: snow;     
}

.logout-link {
  color: #d9534f;
  background-color: snow;     
}

.login-container {
    margin-top: 100px;
    background-color: floralwhite;
    width: 40%;
    left: 30%;
    position: absolute;
}

.card {
    -webkit-box-shadow: 2px 2px 2px 2px #f5f5f5;
    -moz-box-shadow: 2px 2px 2px 2px #f5f5f5;
    box-shadow: 2px 2px 2px 2px #f5f5f5;

}
.login-card {
    width: 80%;
    margin: auto;
}
.login-form {
    padding: 10%;
}

.team-list-container {
    margin-top: 50px;
    width: 50%;
    left: 25%;
    position: absolute;
    background-color: whitesmoke;
    padding: 20px;
    opacity: 0.95;
}

.team-list-container .team {
    margin: 5px;
    border: black 1px solid;
    border-radius: 6px;
    padding: 5px;
}

.team-list-container .team .team-info {

}

.team-list-container .team .team-info .flag {
    height: 100px;
    width: 100px;
}

.team-list-container .team .team-info .rank {
    font-size: 70px;
    margin-top: 0%;
    color: cornflowerblue;
}

.team-list-container .team .team-info .name {
    font-size: 50px;
}

.team-details-container {
    margin-top: 2%;
    position: absolute;
    background-color: lavender;
    width: 60%;
    text-align: center;
    left: 20%;
    padding-bottom: 10px;
    opacity: 0.95;
}

.team-details-container .team-logo img {
    height: 400px;
    width: 400px;
    margin-top: 9px;
    border: black 2px solid;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

.team-details-container .name {
    font-size: 30px;
    margin-top: 10px;
    color: #269abc;
    font-weight: bolder;
}

.team-details-container .label{
    color: firebrick;
    font-size: 25px;
    text-decoration: underline;
}

.team-details-container .title {
    margin-top: 10px;
    font-size: 40px;
    font-family: monospace;
    color: #3276b1;
}

.team-details-container .detail {
    border: azure 5px solid;
    margin: 10px;
}